<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>enterprise</string>
	<key>compileBitcode</key>
	<false/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>SB865CS7Y5</string>
	<key>signingCertificate</key>
      <string>iPhone Distribution: S4 Finland Oy</string>
	<key>provisioningProfiles</key>
      <dict>
        <key>com.starcut.test.Test</key>
        <string>a65e608a-e385-40a4-9049-0e2907a8ab64</string>
       </dict>
</dict>
</plist>
